<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration
        PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- List of annotated classes-->
		<!--
			<mapping class="edu.upenn.cis.ppod.thirdparty.model.security.Role" />
			<mapping class="edu.upenn.cis.ppod.thirdparty.model.security.User" />
			<mapping class="edu.upenn.cis.ppod.model.security.Party" /> <mapping
			class="edu.upenn.cis.ppod.model.security.PPodGroup" /> <mapping
			class="edu.upenn.cis.ppod.model.security.PPodPermission" />
		-->
		<mapping class="edu.upenn.cis.ppod.model.PPodVersionInfo" />

		<mapping class="edu.upenn.cis.ppod.model.Study" />

		<mapping class="edu.upenn.cis.ppod.model.OTU" />
		<mapping class="edu.upenn.cis.ppod.model.OTUSet" />

		<mapping class="edu.upenn.cis.ppod.model.Tree" />
		<mapping class="edu.upenn.cis.ppod.model.TreeSet" />

		<mapping class="edu.upenn.cis.ppod.model.Matrix" />
		<mapping class="edu.upenn.cis.ppod.model.OTUsToCategoricalRows" />
		<mapping class="edu.upenn.cis.ppod.model.CategoricalRow" />
		<mapping class="edu.upenn.cis.ppod.model.CategoricalCell" />

		<mapping class="edu.upenn.cis.ppod.model.Character" />
		<mapping class="edu.upenn.cis.ppod.model.CategoricalState" />


		<mapping class="edu.upenn.cis.ppod.model.MolecularState" />

		<mapping class="edu.upenn.cis.ppod.model.DNAMatrix" />
		<mapping class="edu.upenn.cis.ppod.model.DNACharacter" />
		<mapping class="edu.upenn.cis.ppod.model.DNA" />
		<!--

			<mapping class="edu.upenn.cis.ppod.model.RNACharacter" /> <mapping
			class="edu.upenn.cis.ppod.model.RNAState" />
		-->
		<mapping class="edu.upenn.cis.ppod.model.Attachment" />
		<mapping class="edu.upenn.cis.ppod.model.AttachmentNamespace" />
		<mapping class="edu.upenn.cis.ppod.model.AttachmentType" />

		<mapping class="edu.upenn.cis.ppod.model.DNASequenceSet" />
		<mapping class="edu.upenn.cis.ppod.model.OTUsToDNASequences" />
		<mapping class="edu.upenn.cis.ppod.model.DNASequence" />

		<!--  metadata -->
		<mapping resource="edu/upenn/cis/ppod/dao/namedQueries.xml" />

	</session-factory>
</hibernate-configuration>